apiVersion: v1
kind: Secret
metadata:
  name: aws-credential
  namespace: kube-system
data:
  aws_region: YOUR_AWS_REGION_HERE encoded in base 64
  aws_access_key_id: YOUR_KEY_ID_HERE encoded in base 64
  aws_secret_access_key: YOUR_SECRET_ACCESS_KEY_HERE encoded in base 64